ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



li{
    display: inline;
}

.title{
    text-align: center;
    font-size: 30px;
    color: rgb(233, 49, 17);

}

.country{
    text-align: center;
    font-size: 40px;
    color: chartreuse;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .Tbil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  .svan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  .afxa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .zani{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .racha{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .gur{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .Qax{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .lechkh{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  .kvemo-kartli{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .shida-kartli{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  .samtskhe-javakheti{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  
  a{
    text-decoration: none;
  }

  .mtskheta-mtianeti{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }


  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


  p{
    font-style: oblique;
    margin-top:0;
    border-style: ridge;
  } 

  .image{
    padding-top:5px;
    padding-bottom: 5px;
  }